
<div class="view-type hidden <%= @view == "calendar" ? 'selected' : '' %>">
  <%= render 'layouts/month_nav' %>

  <div id="calendar" >
    <%= calendar_for(@events, :year => @date.year, :month => @date.month) do |t| %>
      <%= t.head('Sunday','Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday') %>
      <%= t.day(:day_method => :datetime ,:id => 'day_%d', :class => "calendar-day") do |day, events| %>
        <div class="calendar-day-box">
          <a href="?view=day&date=<%= day %>">
            <div class="calendar-number"> <%= day.day %></div>
            <div class="calendar-icon-box" style="display:none;">
              <div class="calendar-icon" id="star-six" ></div>
            </div>
          </a>
        </div>
        
        <ul>
        <% events.each do |event| %>
          <div><li id="star-six-small" class="calendar-link-event"></li><span class="event-link "><%= link_to h(event.title), event_path(event.id), :id => event.id %></span></div>
        <% end %>
        </ul>
      <% end %>
    <% end %>
    </div>
</div>



<div class="modal fade" id="map-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
        <div class="modal-map"></div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>




