<div class="container">
	<div class="row text-center" id="menu-dropdown" style="display:none;">
		<br>
		<div class="sort-form container">
			Sources: 
			<div class="btn-group btn-group-sm">
			  <div class="btn-group">
			  	<a href="/events?view=<%= @view %>&date=<%= @date%>&sources=choosechicago"><button type="button" class="btn btn-default menu-website-choice">Choose Chicago</button></a>
			  </div>
			  <div class="btn-group">
			    <a href="/events?view=<%= @view %>&date=<%= @date%>&sources=theaterinchicago"><button type="button" class="btn btn-default menu-website-choice">Theater In Chicago</button></a>
			  </div>
			  <div class="btn-group">
			   	<a href="/events?view=<%= @view %>&date=<%= @date%>"><button type="button" class="btn btn-default menu-website-choice">All</button></a>
			  </div>
			</div>
		</div>
		<br>
	</div>
</div>