<%= render 'calendar/calendar_header' %>
<div class="container main-body" >
  <div class="row main-row">
    <div class="col-md-9 " >
		<%= render "users/header" %>
    	<div class="row view-column" >
		<%= render "calendar/calendar" %>
		<%= render "map/map" %>
		<%= render "events/event" %>
		<%= render "day/day" %>
 		</div>
 	</div>
    <div class="col-md-3 about-column">
		<%= render "users/sidebar" %>
		<%= render "map/sidebar" %>
		<%= render "events/sidebar" %>
	</div>
 </div>
</div>